<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="../../assets/images/about-img.jpg" alt="Yamifood table with food" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1><span class="text-dark" [@Welcome]>Dobrodošli</span> u <span>Yamifood Restoran</span></h1>
                    <p>Yamifood Restoran Vam nudi domaće, ukusno i kvalitetno posluženje. Rezervišite već danas dečiji rođendan, slavu, doček svatova, poslovnu proslavu ili neki drugi bitan događaj po najpovoljnijim cenama. Nama prepustite brigu oko organizacije hrane – iznenadite Vaše goste dekorativnim zalogajima i posvetite se zabavi! </p>
                    <a routerLink="../onama" class="btn btn-lg btn-circle btn-outline-new-white" >Više o nama</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->