<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2 [@Welcome]>Specijaliteti</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div *ngFor="let item of filter; let i = index" class="button-group filter-button-group">
                        <button *ngIf="i == 0; else inactive" class="active" attr.data-filter="{{item.filter}}">{{item.title | uppercase}}</button>
                        <ng-template #inactive>
                            <button attr.data-filter=".{{item.filter}}">{{item.title | uppercase}}</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div *ngFor="let item of items" class="col-lg-4 col-md-6 special-grid {{filter[item.category].filter}}">
                <div class="gallery-single fix">
                    <img src="{{item.image}}" class="img-fluid" alt="{{item.name}}">
                    <div class="why-text">
                        <h4>{{item.name}}</h4>
                        <p>{{item.description | read}}</p>
                        <h5>{{item.price}} din</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
