<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img src="../../../assets/images/about-img.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="inner-column">
                    <h1><span [@Welcome]>Dobrodošli</span> u <span>Yamifood Restoran</span></h1>
                    <h4>O nama</h4>
                    <p>Zamislite mesto koje je stvoreno da oživi vaša čula, mesto u kojem se nalaze skriveni najlepši ukusi, koji čekaju da ih pronađete i doživite maksimalni hedonizam. Upravo to vas čeka ako se odlučite da posetite restoran Yamifood. Smešten na Novom Beogradu, tik uz novi Merkator, svim svojim gostima nudi mogućnost da uživaju u bogatoj gastronomskoj ponudi začinjenoj odličnom atmosferom.</p>
                    <p><a routerLink="/rezervacija" class="btn btn-lg btn-circle btn-outline-new-white" >Rezervacija</a></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="inner-pt">
                    <p>Yamifood Restoran Vam nudi domaće, ukusno i kvalitetno posluženje. Rezervišite već danas dečiji rođendan, slavu, doček svatova, poslovnu proslavu ili neki drugi bitan događaj po najpovoljnijim cenama. Nama prepustite brigu oko organizacije hrane – iznenadite Vaše goste dekorativnim zalogajima i posvetite se zabavi!</p>
                </div>
            </div>
        </div>
    </div>
</div>